#footer{
    width:100%; /* bredden på footern */
    height:20%; /* höjden */
    position:absolute;
    bottom:0; /* placering på botten av sidan */
    left:0; /* palcering direkt till vänster  */
    background-color:rgb(238, 226, 209);
    text-align: center; /* placera all text centrerat i footern */
    
    
    }
    
    #list-center{
        list-style-type:None;
        text-align: center;
    
    }
    
    .a {
        color: inherit;
        text-decoration: inherit;
      }
      #header {
        width: 100%;
        height: 100px;
        position: absolute;
        background-color: #dbcef3;
        color: rgb(221, 42, 42);
        text-align: center;
        line-height: 50px;
        left:0%;
        top:0%;
        
    }
    #h1header {color: inherit;
    position:center;
    text-align:center;
    font-weight: bold;
    font-family: Arial, sans-serif;
   text-decoration: inherit;



    }

#main-top{
    width:100%; /* bredden på footern */
    height:100%; /* höjden */
    position: absolute;
    top: 100px;
    left: 0;
    background-color: brown;
  }
